<!-- Scholar Affiliation -->
<ul class="nav nav-tabs">
    <li role="presentation"><a href="scholar?r=scholar">Scholar</a></li>
    <li role="presentation" class="active"><a href="#">Institution &nbsp;<span class="label label-info"># <%=num%></span></a></li>
    <li role="presentation"><a href="scholar?r=country">Country</a></li>
</ul>
<!-- list part -->
<div id="main_list" class="row scholar-content">
    <%
        // pre processing
        var academia = [] ;
        var industry = [] ;
        for( var ii=0 ; ii<result.length ; ii++ ) {
            if (result[ii].category == "Academia")
                academia.push(result[ii]);
            else
                industry.push(result[ii]);
        }
     %>

    <div class="row">
        <div class="col-sm-2 col-xs-12">
            <p class="pull-right">
                <span class='label label-success scholar-author-label'>Academia</span>
            </p>
            <p class="pull-right">
                <span class="label label-info"># <%=academia.length%></span>
            </p>
        </div>
        <div class="col-sm-10 col-xs-12">
            <table class="table table-condensed scholar-table-unbordered">
                <%
                    var index = 0 ;
                    var count = 2 ;
                    while( index < academia.length ) { %>
                        <tr>
                    <%  for( var i = 0 ; i < count && index < academia.length ; i++, index++) { %>
                            <td class="afTD"><a href="#" id="<%=academia[index].institution%>">
                                    <%=academia[index].institution%></a></td>
                    <%  } %>
                        </tr>
                <% } %>
            </table>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-2 col-xs-12">
            <p class="pull-right">
                <span class='label label-success scholar-author-label'>Industry</span>
            </p>
            <p class="pull-right">
                <span class="label label-info"># <%=industry.length%></span>
            </p>
        </div>
        <div class="col-sm-10 col-xs-12">
            <table class="table table-condensed scholar-table-unbordered">
                <%
                    index = 0 ;
                    while( index < industry.length ) { %>
                        <tr>
                    <%  for( var j=0 ; j<count && index<industry.length ; j++, index++) { %>
                            <td class="afTD"><a href="#" id="<%=industry[index].institution%>">
                                    <%=industry[index].institution%></a></td>
                    <%  } %>
                        </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>