<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="combinatorial testing repository is a web based application to collect works that address the topic of combinatorial testing.">
    <meta name="keywords" content="repository, combinatorial testing, software testing, publication, research, paper">
    <meta name="author" content="Huayao">

    <title>Author List</title>
    <link rel="stylesheet" href="http://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/repository.css">

    <script src="http://gist.nju.edu.cn/js/jquery.min.js"></script>
    <script src="js/comb.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("dd[id]").click(function () {
                var para = "content=" + $(this).attr("id") + "&group=author";
                search_now = $(this).attr("id");
                search_type = "author";
                $("#wait").show();
                $("#main_list").hide();
                $.ajax({
                    url: "action/author_info",
                    type: "post",
                    dataType: "json",
                    data: para,
                    success: prepareauthor
                });
                $.ajax({
                    url: "action/query",
                    type: "post",
                    dataType: "json",
                    data: para,
                    success: showsearh
                });
            });
        });
    </script>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- top navigation -->
    <%- include template_top.ejs %>

    <div class="container">
        <br/><br/>
        <br/><br/>

        <div class="row">
            <!-- list part -->
            <div class="col-md-2 col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="./"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</a></li>
                    <li><a href="statistic"><i class="fa fa-area-chart"></i>&nbsp;&nbsp;Statistic</a></li>
                    <li><a href="rank"><i class="fa fa-star"></i>&nbsp;&nbsp;Rank (beta)</a></li>
                </ul>
                <br>

                <div class="panel panel-success">
                    <div class="panel-heading"><h4>Paper List</h4></div>
                    <div class="list-group">
                        <a href="all" class="list-group-item">All</a>
                        <a href="author" class="active list-group-item">Author</a>
                        <a href="field" class="list-group-item">Research Field</a>
                        <a href="publication" class="list-group-item">Publication Venue</a>
                    </div>
                </div>
            </div>

            <!-- show -->
            <div class="col-md-10 col-sm-9 list_col">
                <!-- bread crumb -->
                <div id="pa" style="display:none" class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li id="pa_main">author</li>
                            <li id="pa_name"></li>
                        </ul>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div id="author_aff" class="col-md-6 col-sm-12"></div>
                            <div id="author_contact" class="col-md-6 col-sm-12"></div>
                        </div>
                        <br>
                    </div>

                    <div class="col-md-12">
                        <div id="sta"></div>
                    </div>
                </div>

                <!-- waiting -->
                <div id="wait" style="display:none" class="row">
                    <div class="col-md-12 text-center">
                        <h1><i class="fa fa-spinner fa-pulse fa-lg"></i></h1><br>
                        <h4><h4>keep calm and data is loading ...</h4></h4>
                    </div>
                </div>

                <!-- main list -->
                <%
                var index = "A";
                var first = false;
                %>
                <div id="main_list" class="row">
                    <p>
                        <strong>Now we only present the authors who have been listed
                            as the first author in this page. The data is continuously updating. </strong>
                    </p>
                    <div class='col-md-4 col-sm-6'><h2><span class='label label-success index-label'>A</span></h2>
                    <%
                    author.forEach(function(each) {
                        var name = each.author ;
                        while ( name.charAt(0) != index ) {
                            index = name.charAt(0) ;
                            if (first) { %>
                                </div>
                            <% } %>
                            <div class='col-md-4 col-sm-6'><h2><span class='label label-success indexlabel'><%=index%></span></h2>
                        <% } %>
                        <dd id="<%=name%>"><a href='#'><%=name%></a></dd>
                        <%
                        first = true;
                    }); %>
                    <br>
                    </div>
                </div>

                <!-- paper list -->
                <div id="result_list" style="display:none" class="row">
                    <div class="col-md-12">
                        <table id='rstable' class='table listtable'>
                            <!--<tr><th>author</th><th>title</th><th>pub</th><th>year</th></tr> -->
                        </table>
                    </div>
                </div>

                <!-- pagination -->
                <div id="search_page" style="display:none;text-align:center">
                    <ul class="pagination">
                        <li id="search_page_pre" class="disabled"><a href="#">&laquo;</a></li>
                        <li id="search_page_nxt"><a href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <!-- span10 -->
        </div>
    </div>
    <!-- /container -->

    <div id="push"></div>
</div>
<!-- /wrap -->

<!-- footer -->
<%- include template_bottom.ejs %>

<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>
</body>
</html>
