<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="combinatorial testing repository is a web based application to collect works that address the topic of combinatorial testing.">
    <meta name="keywords" content="repository, combinatorial testing, software testing, publication, research, paper">
    <meta name="author" content="Huayao">

    <title>Venue List</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/repository.css">
    
    <script src="js/jquery.min.js"></script>
    <script src="js/comb.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // search field id
            $("p[id]").click(function () {
                var para = "content=" + $(this).attr("id") + "&group=publication";
                search_now = $(this).text();
                search_type = "publication";
                $("#wait").show();
                $("#main_list").hide();
                $.ajax({
                    url: "/action/publication",
                    type: "post",
                    dataType: "json",
                    data: para,
                    success: showsearh
                });
            });
        });
    </script>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- top navigation -->
    <%- include template_top.ejs %>

    <div class="container">
        <br/><br/>
        <br/><br/>

        <div class="row">
            <!-- list part -->
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="./"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</a></li>
                    <li><a href="#"><i class="fa fa-bars"></i>&nbsp;&nbsp;Statistic</a></li>
                    <li><a href="#"><i class="fa fa-star"></i>&nbsp;&nbsp;Rank (beta)</a></li>
                </ul>
                <br>

                <div class="panel panel-success">
                    <div class="panel-heading"><h4>Paper List</h4></div>
                    <div class="list-group">
                        <a href="./all.jsp" class="list-group-item">All</a>
                        <a href="./author.jsp" class="list-group-item">Author</a>
                        <a href="./field.jsp" class="list-group-item">Research Field</a>
                        <a href="publication.ejs" class="active list-group-item">Publication Venue</a>
                    </div>
                </div>
            </div>

            <!-- show -->
            <div class="col-md-10 list_col">
                <!-- bread crumb -->
                <div id="pa" style="display:none" class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li id="pa_main">field</li>
                            <li id="pa_name"></li>
                        </ul>
                    </div>

                    <div>
                        <div id="sta" class="col-md-6"></div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>

                <!-- waiting -->
                <div id="wait" style="display:none" class="row">
                    <div class="col-md-12 text-center">
                        <h1><i class="fa fa-spinner fa-pulse fa-lg"></i></h1><br>
                        <h4>keep calm and data is loading ...</h4>
                    </div>
                </div>

                <div id="main_list" class="row">
                    <div class="col-md-12">
                        <h4>Main Journals</h4>
                        <hr>
                        <% article.forEach(function(each) { %>
                        <p id="<%=each.Abbr%>"><a href='#'><%=each.Publication%> (<%=each.Abbr%>)</a></p>
                        <% }); %>
                        <br/><br/>

                        <h4>Main Conferences</h4>
                        <hr>
                        <% inproceeding.forEach(function(each) { %>
                        <p id="<%=each.Abbr%>"><a href='#'><%=each.Publication%> (<%=each.Abbr%>)</a></p>
                        <% }); %>
                        <br/><br/>

                        <h4>Others</h4>
                        <hr>
                        <p id="phd"><a href="#">Ph.D. Dissertation</a></p>
                        <p id="book"><a href="#">Book or Chapter</a></p>
                        <p id="tech"><a href="#">Technical Report</a></p>
                        <br/><br/>
                    </div>
                </div>
                <!-- main_list -->

                <!-- result list -->
                <div id="result_list" style="display:none" class="row">
                    <div class="col-md-12">
                        <table id='rstable' class='table listtable'>
                        </table>
                    </div>
                </div>
                <!-- result -->

                <!-- pagination -->
                <div id="search_page" style="display:none;text-align:center">
                    <ul class="pagination">
                        <li id="search_page_pre" class="disabled"><a href="#">&laquo;</a></li>
                        <li id="search_page_nxt"><a href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div>
            <!-- span10 -->
        </div>
    </div>
    <!-- /container -->

    <div id="push"></div>
</div>
<!-- /wrap -->

<!-- footer -->
<br/><br/>
<%- include template_bottom.ejs %>

<script src="./js/bootstrap.min.js"></script>
</body>
</html>
