<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Combinatorial testing repository is a web application to collect all publications that are related to combinatorial testing.">
    <meta name="keywords" content="Repository, Combinatorial Testing, Software Testing, Publication, Research, Paper">
    <meta name="author" content="Huayao">

    <title>Rank</title>
    <link rel="stylesheet" href="https://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://gist.nju.edu.cn/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/repository.css">

    <script src="http://gist.nju.edu.cn/js/jquery.min.js"></script>
    <script type="text/javascript">
    </script>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- top navigation -->
    <%- include template/template_top.ejs %>

    <div class="container">
        <br/><br/>
        <br/><br/>

        <div class="row">
            <!-- sidebar -->
            <%- include template/template_sidebar.ejs %>

            <!-- data part -->
            <div class="col-md-10 col-sm-9">
                <h4><strong>Ranking Scheme</strong> (beta version)</h4>
                <p>This ranking system applies a publication counting based criterion, and assumes that
                    every scholar or institution contributes equally in each publication. Different
                    publication venues are assigned to different weights to make the importance of each
                    publication be accounted.</p>

                <p>In detail, the selected leading <strong>journals</strong> and <strong>conferences</strong>
                    and their weights are as follows:</p>
                <ul>
                    <li><em>TSE</em>, IEEE Transactions on Software Engineering (3.0)</li>
                    <li><em>TOSEM</em>, ACM Transactions on Software Engineering and Methodology (3.0)</li>
                    <li><em>JSS</em>, Journal of Systems and Software (1.8)</li>
                    <li><em>IST</em>, Information and Software Technology (1.8)</li>
                    <li><em>ESEM</em>, Empirical Software Engineering (1.8)</li>
                    <li><em>STVR</em>, Software Testing, Verification and Reliability (1.8)</li>
                    <br>
                    <li><em>ICSE</em>, International Conference on Software Engineering (2.5)</li>
                    <li><em>FSE</em>, International Symposium on the Foundations of Software Engineering,  (2.5)</li>
                    <li><em>ASE</em>, International Conference on Automated Software Engineering (1.5)</li>
                    <li><em>ISSTA</em>, International Symposium on Software Testing and Analysis (1.5)</li>
                    <li><em>ISSRE</em>, International Symposium on Software Reliability Engineering (1.5)</li>
                    <li><em>ICSM</em>, International Conference on Software Maintenance (1.5)</li>
                </ul>
                <p>The final weighted score of each scholar or institution is calculated as follows,
                    where <code>#A</code> indicates the number of named papers published in venue A:</p>
                <p><strong>Score = (<code>#TSE</code> + <code>#TOSEM</code>) * 3.0 +
                        (<code>#JSS</code> + <code>#IST</code> + <code>#ESEM</code> + <code>#STVR</code>) * 1.8 +
                        (<code>#ICSE</code> + <code>#FSE</code>) * 2.5 +
                        (<code>#ISSTA</code> + <code>#ASE</code> + <code>#ISSRE</code> + <code>#ICSM</code>) * 1.5 +
                        <code>#Other</code> * 0.8
                    </strong></p>

                <p>Note that this ranking system remains in a beta version and under development.</p>
                <br>

                <h4><strong>Top 30 Authors</strong></h4>
                <table id='atable' class='table listtable table-hover'>
                    <tr>
                        <th>#</th><th>Name</th>
                        <th>TSE</th><th>TOSEM</th>
                        <th>JSS</th><th>IST</th><th>EMSE</th><th>STVR</th>
                        <th>ICSE</th><th>FSE</th>
                        <th>ASE</th><th>ISSTA</th><th>ISSRE</th><th>ICSM</th>
                        <th>Other</th><th>Score</th>
                    </tr>
                    <%
                        var ii = 0 ;
                        rankAuthor.forEach( function(each) {
                            ii = ii + 1 ;
                    %>
                    <tr>
                        <td><%=ii%></td><td><%=each.name%></td>
                        <td><%=each.TSE%></td><td><%=each.TOSEM%></td>
                        <td><%=each.JSS%></td><td><%=each.IST%></td><td><%=each.EMSE%></td><td><%=each.STVR%></td>
                        <td><%=each.ICSE%></td><td><%=each.FSE%></td>
                        <td><%=each.ASE%></td><td><%=each.ISSTA%></td><td><%=each.ISSRE%></td><td><%=each.ICSM%></td>
                        <td><%=each.Other%></td><td><%=each.Score%></td>
                    </tr>
                    <%
                    });
                    %>
                </table>
                <br>
                <h4><strong>Top 30 Institutions</strong></h4>
                <table id='atable' class='table listtable table-hover'>
                    <tr>
                        <th>#</th><th>Name</th>
                        <th>TSE</th><th>TOSEM</th>
                        <th>JSS</th><th>IST</th><th>EMSE</th><th>STVR</th>
                        <th>ICSE</th><th>FSE</th>
                        <th>ASE</th><th>ISSTA</th><th>ISSRE</th><th>ICSM</th>
                        <th>Other</th><th>Score</th>
                    </tr>
                    <%
                    var jj = 0 ;
                        rankAffiliation.forEach( function(each) {
                        jj = jj + 1 ;
                    %>
                    <tr>
                        <td><%=jj%></td><td><%=each.name%></td>
                        <td><%=each.TSE%></td><td><%=each.TOSEM%></td>
                        <td><%=each.JSS%></td><td><%=each.IST%></td><td><%=each.EMSE%></td><td><%=each.STVR%></td>
                        <td><%=each.ICSE%></td><td><%=each.FSE%></td>
                        <td><%=each.ASE%></td><td><%=each.ISSTA%></td><td><%=each.ISSRE%></td><td><%=each.ICSM%></td>
                        <td><%=each.Other%></td><td><%=each.Score%></td>
                    </tr>
                    <%
                    });
                    %>
                </table>
                <br>


            </div>
            <!-- span10 -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /wrap -->

<!-- footer -->
<%- include template/template_bottom.ejs %>

<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>
</body>
</html>