<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="combinatorial testing repository is a web based application to collect works that address the topic of combinatorial testing.">
    <meta name="keywords" content="repository, combinatorial testing, software testing, publication, research, paper">
    <meta name="author" content="Huayao">

    <title>Rank</title>
    <link rel="stylesheet" href="http://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/repository.css">

    <script src="js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nav_content").html("Publication");
            $("#nav_publication").addClass("active");
            $("#c_rank").addClass("active");
        });
    </script>

</head>
<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- top navigation -->
    <%- include template/template_top.ejs %>

    <div class="container">
        <br/><br/>
        <br/><br/>

        <div class="row">
            <!-- sidebar -->
            <%- include template/template_sidebar.ejs %>

            <!-- data part -->
            <div class="col-md-10 col-sm-9">
                <h4>Top 30 Scholars</h4>
                <p><strong>Score</strong> = (<code>#TSE</code> + <code>#TOSEM</code> + <code>#ICSE</code> + <code>#FSE</code>) * 2.5 +
                    (<code>#IST</code> + <code>#JSS</code> + <code>#STVR</code>) * 1.3 + (<code>#ASE</code> + <code>#ISSRE</code> + <code>#ISSTA</code>) * 1.0 + <code>#Other</code> * 0.8
                </p>
                <br>
                <table id='atable' class='table listtable table-hover'>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>TSE</th>
                        <th>TOSEM</th>
                        <th>IST</th>
                        <th>JSS</th>
                        <th>STVR</th>
                        <th>FSE</th>
                        <th>ICSE</th>
                        <th>ASE</th>
                        <th>ISSRE</th>
                        <th>ISSTA</th>
                        <th>Other</th>
                        <th>Sum</th>
                        <th>Score</th>
                    </tr>
                    <%
                        var i = 0 ;
                        ranking.forEach( function(each) {
                            i = i + 1 ;
                    %>
                            <tr>
                            <td><%=i%></td>
                            <td><%=each.name%></td>
                            <td><%=each.TSE%></td>
                            <td><%=each.TOSEM%></td>
                            <td><%=each.IST%></td>
                            <td><%=each.JSS%></td>
                            <td><%=each.STVR%></td>
                            <td><%=each.FSE%></td>
                            <td><%=each.ICSE%></td>
                            <td><%=each.ASE%></td>
                            <td><%=each.ISSRE%></td>
                            <td><%=each.ISSTA%></td>
                            <td><%=each.Other%></td>
                            <td><%=each.Sum%></td>
                            <td><%=each.Score%></td>
                            </tr>
                    <%
                    });
                    %>
                </table>
            </div>
            <!-- span10 -->
        </div>
    </div>
    <!-- /container -->

    <div id="push"></div>
</div>
<!-- /wrap -->

<!-- footer -->
<%- include template/template_bottom.ejs %>

<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>
</body>
</html>