<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="combinatorial testing repository is a web based application to collect works that address the topic of combinatorial testing.">
    <meta name="keywords" content="repository, combinatorial testing, software testing, publication, research, paper">
    <meta name="author" content="Huayao">

    <title>Scholar</title>
    <link rel="stylesheet" href="http://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/repository.css">

    <script src="http://gist.nju.edu.cn/js/jquery.min.js"></script>
    <script src="js/repository.js"></script>
    <script src="js/scholarControl.js"></script>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- top navigation -->
    <%- include template/template_top.ejs %>

    <div class="container">
        <br/><br/>
        <br/><br/>

        <div class="row">
            <!-- sidebar -->
            <%- include template/template_sidebar.ejs %>

            <!-- show -->
            <div class="col-md-10 col-sm-9 list_col">
                <% if( page == "author") {%>
                <%- include scholar/scholar_author.ejs %>
                <% } %>
                <% if( page == "affiliation") {%>
                <%- include scholar/scholar_affiliation.ejs %>
                <% } %>
                <% if( page == "country") {%>
                <%- include scholar/scholar_country.ejs %>
                <% } %>

                <!-- waiting -->
                <div id="wait" style="display:none" class="row">
                    <div class="col-md-12 text-center">
                        <h1><i class="fa fa-spinner fa-pulse fa-lg"></i></h1><br>
                        <h4>keep calm and data is loading ...</h4>
                    </div>
                </div>

                <!-- result list -->
                <%- include template/template_result.ejs %>
            </div>
            <!-- span10 -->
        </div>
    </div>
    <!-- /container -->

    <div id="push"></div>
</div>
<!-- /wrap -->

<!-- footer -->
<%- include template/template_bottom.ejs %>

<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>
</body>
</html>
