<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Combinatorial testing repository is a web application to collect all publications that are related to combinatorial testing.">
    <meta name="keywords" content="Repository, Combinatorial Testing, Software Testing, Publication, Research, Paper">
    <meta name="author" content="Huayao">

    <title>Search</title>
    <link rel="stylesheet" href="http://gist.nju.edu.cn/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/repository.css">

    <script src="http://gist.nju.edu.cn/js/jquery.min.js"></script>
    <script src="js/repository.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            start = 0;
            ct_url = 'action/search';
            ct_para = {start: start, step: step, group: 'search', content: '<%=content%>'};
            search_content = "<%=content%>";
            search_type = "index";
            makeRequest();
        });
    </script>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- top navigation -->
    <%- include template/template_top.ejs %>

    <div class="container">
        <br/><br/>
        <br/><br/>

        <div class="row">
            <!-- sidebar -->
            <%- include template/template_sidebar.ejs %>

            <!-- data part -->
            <div class="col-md-10 col-sm-9">
                <!-- result list -->
                <%- include template/template_result.ejs %>

                <!-- none -->
                <div id="search_none" style="display:none;padding-left:60px" class="row">
                    <div class="alert alert-warning">
                        <h4 class="alert-heading">Nothing is found in our database</h4>
                        <p>Please change your key words, or click <strong>All</strong> for the whole list.<p>
                        <p>If your paper is missing, please contact us.</p>
                    </div>
                </div>

            </div>
            <!-- /show -->
        </div>
    </div>
    <!-- /container -->

</div>
<!-- /wrap -->

<!-- footer -->
<%- include template/template_bottom.ejs %>

<script src="http://gist.nju.edu.cn/js/bootstrap.min.js"></script>
</body>
</html>